{% extends 'base.html.twig' %}

{% block body %}
    {% if message is defined and message is not empty %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
    {% for post in posts %}
        <div class="row">
            <a href={{ "/posts/" ~ post.type ~ "/" ~ post.id }}>
                <h3>{{ post.title }}</h3>
                <p>{{ post.description }}</p>
            </a>
        </div>
    {% endfor %}
{% endblock %}