<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url('home') }}">BDA</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url('home') }}">Home</a></li>
            <li><a href="/posts/journal">Ch'ti Marcel</a></li>
            <li><a href="/posts/newsletter">Newsletters</a></li>
            <li><a href="/posts/podcast">Podcast</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url('app_login') }}"><span class="glyphicon glyphicon-user"></span>Sign in</a></li>
            <li><a href="{{ url('app_register') }}"><span class="glyphicon glyphicon-log-in"></span>Sign Up</a></li>
        </ul>
    </div>
</nav>
