{% extends 'base.html.twig' %}

{% block body %}
    {% include 'layout/header.html.twig' %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(userForm) }}

    {{ form_end(userForm) }}
{% endblock %}
