{% extends 'base.html.twig' %}

{% block title %}Hello DatalistController!{% endblock %}

{% block body %}
<div>
    {% for data in datalist %}
    <div class="row">
        <h3>{{ data.title }}</h3>
        <p>{{ data.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
